.characterAccordion__container {
    margin: auto;
    max-width: 400px;
}

.episodeButton {
    margin: 5px 0px !important;

    a:hover {
        color: #000000;
        text-decoration: underline;
    }
}