html {
  overflow-y: scroll;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255 ,0.8);
}

* {
  box-sizing: border-box;
}

.errorHeader {
  color: #000000;
  text-align: center;
}

.spinnerText {
  color: #000000;
}

@import '../components/BackToTopButton/style.scss';
@import '../components/CharacterContainer/CharacterOverview/style.scss';
@import '../components/DimensionList/style.scss';
@import '../components/EpisodeGrid/style.scss';
@import '../components/EpisodeList/style.scss';
@import '../components/LocationGrid/style.scss';
@import '../components/LocationList/style.scss';
@import '../components/MainContainer/style.scss';
@import '../components/PageBar/style.scss';
@import '../components/Spinner/style.scss';